.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  border: 3px solid $primary;
}

.gallery-row {
  position: relative;
  margin: 1rem;
  width: 150px;
  height: 120px;
}

.gallery-photo {
  width: 100%;
  opacity: 0.5;
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: 2px;
}

.gallery-photo-delete {
  position: absolute;
  top: 4px;
  left: 4px;
  color: $primary;
  cursor: pointer;
}

.gallery-photo-selected {
  opacity: 1;
}
